<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title of the Document</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="styles.css"> -->
</head>

<body>
  <nav class="navbar">
    <div class="logo">
      <img src="../assets/png-transparent-phoenix-logo-design-mark-phoenix-fire-thumbnail.png" alt="Logo">
    </div>
    <ul class="nav-list">
      <li><a href="#" class="nav-link" routerLink="home-componant">Home</a></li>
      <li><a href="#" class="nav-link" routerLink="about-componant">About</a></li>
      <li><a href="#" class="nav-link" routerLink="contact-componant">Contact</a></li>
      <li><a href="#" class="nav-link" routerLink="my-practice">Employee</a></li>
      <!-- <li><a href="#" class="nav-link" routerLink="login-componant">Login</a></li> -->

    </ul>
    <div class="rightnav">
      <input type="text" name="search" id="search" placeholder="Search...">
      <button class="btn btn-sm">Search</button>
    </div>
    <div class="logins">
      <!-- <button class="loginbtn"><a href="#" class="nav-link" routerLink="login-componant">Login</a></button> -->
      <button class="loginbtn"><a a href="#" routerLink="login-componant">Login</a></button>

    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>