<p>home works!</p>

<div class="container">
    <div class="profile">
      <img [src]="imageUrl" alt="Profile Image">
      <h2>{{ Name }}</h2>
      <p>Software Developer</p>
      <button (click)="onClick()" class="btn">Click Me</button>
    </div>
  
    <div class="profile">
      <img [src]="imageUrl" alt="Profile Image">
      <h2>{{ Name }}</h2>
      <p>Software Developer</p>
      <button (click)="onClick()" class="btn">Click Me</button>
    </div>
  
    <div class="profile">
      <img [src]="imageUrl" alt="Profile Image">  
      <h2>{{ Name }}</h2>
      <p>Software Developer</p>
      <button (click)="onClick()" class="btn">Click Me</button>
    </div>
  </div>